/* src/index.css */
/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"); */
@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.badge_number {
  font-size: 10px;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;

  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
/* button:hover {
  border-color: #0b448f;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #0b448f;
  }
}

@keyframes gradient-x {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
@keyframes shimmer {
  0% {
    background-position: -400% 0;
  }
  100% {
    background-position: 400% 0;
  }
}
.animate-shimmer {
  animation: shimmer 2s infinite linear;
  background-size: 400% 100%;
}
.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 8s ease infinite;
}

/* Brand */
/* ==========================
   AZ Brand Loader
========================== */

.az-loader {
  display: inline-flex;
}

.az-fill {
  display: inline-block;
  color: transparent;

  background: linear-gradient(
    90deg,
    #10a0f0 0%,
    #10a0f0 50%,
    #b81010 50%,
    #b81010 100%
  );

  background-size: 220% 100%;
  background-position: 100% 0;

  -webkit-background-clip: text;
  background-clip: text;

  animation: azFill 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes azFill {
  0% {
    background-position: 100% 0;
    opacity: 0.25;
  }

  25% {
    opacity: 1;
  }

  65% {
    background-position: 0% 0;
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  100% {
    background-position: -100% 0;
    opacity: 0.25;
  }
}
